@model BookLibrary.Models.ViewModel.OfferViewModel

@{
    ViewBag.Title = "MakeAnOffer";
}

<h2>MakeAnOffer</h2>

<div>
    <h4>OfferViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookIWant.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookIWant.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookIWant.Artist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookIWant.Artist)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookIWant.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookIWant.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookIWant.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookIWant.ReleaseDate)
        </dd>
    </dl>
</div>
<p
 
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Artist
        </th>
        <th>
            ReleaseDate
        </th>
        <th>
            Genre
        </th>
    </tr>

    @foreach (var item in Model.MyBooks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.ActionLink("Replace", "ReplaceBook", new { bookiwant_id = Model.BookIWant.Id ,bookimgiving_id = item.Id })
            </td>
        </tr>
    }

</table>
